<li class="chat-message message flexcol {{cssClass}}" data-message-id="{{this.id}}" style="{{getBorderStyle this borderColor}}">
    {{#if (and (eq (getCardStyle) "topBar") (showSpeakerImage this))}}
    <span style="background-color: {{getUserColor this}}; max-height: 6px;">&nbsp;</span>
    {{/if}}
    <header class="message-header flexrow" style="{{getHeaderStyle this}}">
        {{#if (showSpeakerImage this)}}
        <div class="portraitContainer">
            {{#if (useVideoForSpeakerImage this)}}
                <video class="portrait" height="32" src="{{getSpeakerImage this}}" autoplay muted loop></video>
            {{else}}
                <img class="portrait" src="{{getSpeakerImage this}}" height="32" />
            {{/if}}
        </div>
        {{/if}}
        <h4 class="message-sender" style="{{getTitleStyle this}}">{{this.alias}}</h4>
        <span class="message-metadata" style="{{getTitleStyle this}}">
            <time class="message-timestamp"></time>
        </span>

        {{#if this.isWhisper}}
        <span class="whisper-to">{{localize 'CHAT.To'}}: {{this.whisperTo}}</span>
        {{/if}}

        {{#if this.flavor}}
        <span class="flavor-text">{{{this.flavor}}}</span>
        {{/if}}
    </header>
    <div class="message-content">
        {{{message.content}}}
    </div>
</li>

